<div class="profile__mainContainer">
  <div>
    <img class="profile__image" src="./../../../assets/profile.jpg" alt="">
  </div>
  <div class="profile__container2">
    <div>
      <p class="profile__title">Nombre:</p>
      <p class="profile__subTitle">Jose Alejandro Tamayo</p>
    </div>
    <div>
      <p class="profile__title">Carnet:</p>
      <p class="profile__subTitle">3190-11-4537</p>
    </div>
    <div>
      <p class="profile__title">Curso:</p>
      <p class="profile__subTitle">Fisica 1</p>
    </div>
    <div>
      <p class="profile__title">Catedratico:</p>
      <p class="profile__subTitle">Ing. Allan Villatoro</p>
    </div>
    <div>
      <p class="profile__title">Plan:</p>
      <p class="profile__subTitle">Universidad Mariano Galvez - Plan Sabado</p>
    </div>
  </div>
</div>