.topic1__inputContainer {
  margin-left: 10px;
}
.topic1__button {
  width: 44%;
  margin-left: 3%;
  margin-right: 3%;
  margin-top: 25px;
}
.topic1__marginLeft {
  margin-left: 50px;
}
.top__fix {
  margin-top: 115px;
}
